@use '../../lib/bootstrap/bootstrap.min.css';
@use '../../lib/DataTables/datatables.min.css';


#title { 
  @extend .text-center; 
  @extend .mb-5; 

  h1 {
    @extend .display-4; 
    padding-top: 150px;
  }    
  p { @extend .lead; }

}

section.home { 
  #menu-options {   
    text-align: center;
    margin-top: 25px;
    a {
      text-decoration: none; 
      margin: 5px;
    }
  } 
}

// FORM ------------------------------------------
.input-group { 
  @extend .mb-5;
  margin-left: 0;  
  padding-left: 0 !important;
} 

.form-input-label {
  @extend .row;
  margin-left: 2em;

}

label {
  @extend .form-label;
  @extend .text-start;
  padding-left: 0 !important;
}

.form-flex-row {
  @extend .d-flex;
  @extend .p-0;
}

#insertFavoriteButton{
  height: 40px !important;
}

// TABLE ---------------------------------------

td.green{
  background-color: lightgreen;
}

td.yellow {
  background-color: rgb(255, 255, 140);
} 

td.red{
  background-color: salmon;
}

td.blue{
  background-color: rgb(139, 255, 255);
}

#weeks { 
  @extend .mb-4; 
  @extend .mt-4;  
  display: flex; 
  justify-content: space-evenly;
  flex-wrap: wrap; 

  button {
    @extend .btn; 
    @extend .btn-secondary;  
    @extend .mt-3; 

  }

  button.selected{
    @extend .btn-primary; 
  }
}

// SCHEDULES ----------------------------------

.scheds {
  padding: 25px;
} 

// TOAST --------------------------------------

#toast {
  @extend .align-items-center;  
  @extend .float-end; 
  position: fixed;
  bottom: 0; 
  right: 0; 
} 

nav{
  z-index: 1000 !important; 
}